
@{
    ViewData["Title"] = "Travel";
}


<h1>Travel</h1>
@*<div class="alert alert-info" id="div2"></div>*@

<div class="alert alert-info" id="div1"></div>





@*<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>*@

@section Scripts{
    <script src="~/datas/travel.js"></script>
    <script>
        const p = spots.CommonFormat.Section;
        const imageURL = p[0].file.img[0].text;

/*        
        const datas = spots.CommonFormat.Section.map(employee => {
            const { stitle, xbody, xurl} = employee;

            return(
                `
             <div class="card" style="width: 18rem;">
                    <img src="${imageURL} " class="card-img-top">
            <div class="card-body">
                        <h2 class="card-title" > ${ stitle } </h2>
                        < p class="card-text" > ${ xbody } </p>
                         <a href="${xurl}" class="btn btn-primary">連結</a>
            </div>
            </div>
                `
            )
        });


        document.querySelector('#div1').innerHTML = datas.join("")
*/
        
        const dat = spots.CommonFormat.Section.map(many => {
            const im = many.file.img[0].text;
            const stitl = many.stitle;
            const xbod = many.xbody;
            const xur = many.xurl;

            console.log(xbod)

            return (
                `
                     <div class="card" style="width: 18rem;">
                                    <img src="${im} " class="card-img-top">
                    <div class="card-body">
                                        <h2 class="card-title" > ${stitl} </h2>
                                        < p class="card-text" > ${xbod} </p>
                                         <a href="${xur}" class="btn btn-primary">連結</a>
                    </div>
                    </div>
                        `
            )
        });


        document.querySelector('#div1').innerHTML = dat.join("")



    </script>
}

@section Styles{

}